* {
  margin: 0;
  padding: 0;
}

/* fonts */
.raleway_font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* reuseable styles  */

.primary_color {
  color: #4e47ff;
}

.primary_btn {
  background: #4e47ff;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
}

.header {
  height: 698px;
  background-image: url("Assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* styling navbar */

.navbar {
  max-width: 1140px;
  height: 151px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* banner styling */
.banner {
  text-align: center;
  margin: 150px;
}

.banner_title {
  font-size: 65px;
  font-weight: 700;
  color: #252432;
  margin-bottom: 37px;
}

/* main styling  */
.main section {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 116px;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 328px; */
  /* background: red; */
}
.action_title {
  font-size: 42px;
  font-weight: 700;
  color: #252432;
}
.action_description {
  font-size: 24px;
  font-weight: 400;
  color: #252432;
  opacity: 50%;
  margin: 23px 0;
}

.action img {
  border-radius: 48px;
}

/* productive user section */

.productive_user {
  background: rgb(78, 71, 251, 0.1);
  padding: 50px 142px;
  border-radius: 40px;
}
.productive_user_title {
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: #252432;
  text-align: center;
  padding-bottom: 40px;
}
.productive_user_stats {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}

.productive_user_stats h1 {
  font-size: 80px;
  font-weight: 700;
  color: #4e47ff;
}
.productive_user_stats p {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  opacity: 50%;
  text-align: center;
}
